.child__product {
    flex-basis: 100%;
}


@media (min-width: 576px) {
    
}


@media (min-width: 768px) {
    .child__product {
        flex-basis: 50%;
    }
}


@media (min-width: 992px) {

    .child__product {
        flex-basis: 33.3%;
    }

}


@media (min-width: 1200px) {

    .child__product {
        flex-basis: 25%;
    }
}


@media (min-width: 1400px) {

}