.text-area {
    min-height: 200px;
}

.list li{
    cursor: pointer;
    font-family: monospace, sans-serif;
    font-size: 1.4rem;
    margin-right: 20px;

    transition: all 0.3s ease-in-out;
}

.list li:hover {
    color: orange;
    text-decoration: underline;
    text-decoration-color: orange;
}

.selected {
    color: orange;
    text-decoration: underline;
    text-decoration-color: orange;
}